# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [129]:
import pandas as pd

recipes = pd.read_csv(r'recipes_sample.csv')
reviews = pd.read_csv(r'reviews_sample.csv', index_col=0)

In [130]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [131]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [132]:
print('Таблица "recipes"')
print('Количество строк:', recipes.shape[0])
print('Количество столбцов:', recipes.shape[1])
print('Тип данных каждого столбца:\n', recipes.dtypes)
#recipes.info()
print('\nТаблица "reviews"')
print('Количество строк:', reviews.shape[0])
print('Количество столбцов:', reviews.shape[1])
print('Тип данных каждого столбца:\n', reviews.dtypes)
#reviews.info()

Таблица "recipes"
Количество строк: 30000
Количество столбцов: 8
Тип данных каждого столбца:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Таблица "reviews"
Количество строк: 126696
Количество столбцов: 5
Тип данных каждого столбца:
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [133]:
print('Таблица "recipes"')
print(100 - len(recipes.dropna()) / len(recipes) * 100, '%')

print('\nТаблица "reviews"')
print(100 - len(reviews.dropna()) / len(reviews) * 100, '%')

Таблица "recipes"
56.846666666666664 %

Таблица "reviews"
0.013417945317925728 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [134]:
print('Таблица "recipes"\n', recipes[['minutes', 'n_steps','n_ingredients']].mean())
print('\nТаблица "reviews"\n', reviews[['rating']].mean())

Таблица "recipes"
 minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

Таблица "reviews"
 rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [135]:
import numpy as np
rand10Recipes = recipes['name'].iloc[np.random.choice(len(recipes), 10, replace=False)]
print(rand10Recipes)

23691       schnitzel with anchovy sauce
4962       cazuela  chilean chicken stew
4487          camie s easy peach cobbler
10330            egg   sausage casserole
16979              maple cream apple pie
16839                     mandarin salad
5965           chicken satay noodle soup
25538        spicy tuna salad sushi roll
13140         guisado de chorizo y papas
7751     country style breakfast sausage
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [136]:
reviews.index = np.arange(len(reviews))
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [137]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5.0)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [138]:
recipes['submitted'] = pd.to_datetime(recipes.submitted, format='%Y-%m-%d')
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [139]:
recipes[recipes.submitted.dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [140]:
recipes['description_length'] = recipes['description'].astype("string").str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [141]:
recipes['name'] = (recipes['name'].astype("string").str[0].str.upper() + recipes['name'].astype("string").str[1: ]).astype("object")
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [142]:
recipes['name_word_count'] = recipes['name'].astype("string").str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [143]:
print(recipes.groupby("contributor_id").name.count())

list_contributor = recipes.groupby("contributor_id").name.count()
print("\nУчастник добавиший максимальное кол-во рецептов:", list_contributor[list_contributor == list_contributor.max()].index[0])
print(f"Он добавил {list_contributor.max()} рецептов.")

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

Участник добавиший максимальное кол-во рецептов: 89831
Он добавил 421 рецептов.

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [144]:
print(reviews.groupby('recipe_id').rating.mean())
print('\nОтзывы отсутствуют у', len(recipes) - len(reviews.groupby("recipe_id")), 'рецептов')

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

Отзывы отсутствуют у 1900 рецептов

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [145]:
recipes.groupby(recipes.submitted.dt.year).name.count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [146]:
DataFrame1 = pd.merge(recipes[['id','name']], reviews[['recipe_id','user_id','rating']], left_on='id', right_on='recipe_id')
DataFrame1.drop("recipe_id", axis=1, inplace=True)

print("Полученный DataFrame:\n", DataFrame1)

print("\nПроверка. \nРецепт с id 276594 не имеет отзывов.")
print(DataFrame1[DataFrame1.id == 276594])

Полученный DataFrame:
             id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco soup   305531       5
126692  486161                             Zydeco soup  1271506       5
126693  486161                             Zydeco soup   724631       5
126694  486161                             Zydeco soup   133174       5
126695  298512  Cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

Проверка.
Рецепт с id 276594 не имеет отзывов.
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [147]:
Data1 = recipes[['id', 'name']]

Data2 = reviews.groupby('recipe_id')[['user_id']].count()

Data2.columns = ['review_count']

DataFrame2 = pd.merge(Data1, Data2, left_on='id', right_on='recipe_id', how='left')

print("Список рецептов не имеющих отзывов:")
print(DataFrame2[DataFrame2.review_count.isna()])

DataFrame2['review_count'] = (DataFrame2['review_count'].fillna(0.0)).astype('int64')

print("\nПолученный DataFrame:")
print(DataFrame2)

print("\nПроверка. \nРецепт с id 276594 не имеет отзывов.")
print(DataFrame2[DataFrame2.id == 276594])

Список рецептов не имеющих отзывов:
           id                                     name  review_count
26     223349            Pasta  with shrimp   eggplant           NaN
29     342620          Secret ingredient  bbq meatloaf           NaN
35     276594        Windy s  sweet and sour meatballs           NaN
49     216068  Goulashy  beef stew for the slow cooker           NaN
59     306590             Old bay  grilled steak fries           NaN
...       ...                                      ...           ...
29871   66966                       Zingy potato salad           NaN
29903  249846       Zucchini  mock green papaya  salad           NaN
29905  256177            Zucchini and corn with cheese           NaN
29951  178243                       Zucchini nut salad           NaN
29979  363362     Zucchini with bell pepper and tomato           NaN

[1900 rows x 3 columns]

Полученный DataFrame:
           id                                          name  review_count
0       44123         George s at the cove  black bean soup             3
1       67664            Healthy for them  yogurt popsicles             8
2       38798                  I can t believe it s spinach             3
3       35173                          Italian  gut busters             1
4       84797      Love is in the air  beef fondue   sauces             8
...       ...                                           ...           ...
29995  267661  Zurie s holey rustic olive and cheddar bread             4
29996  386977          Zwetschgenkuchen  bavarian plum cake             2
29997  103312   Zwiebelkuchen   southwest german onion cake             6
29998  486161                                   Zydeco soup             6
29999  298512        Cookies by design   cookies on a stick             1

[30000 rows x 3 columns]

Проверка.
Рецепт с id 276594 не имеет отзывов.
        id                               name  review_count
35  276594  Windy s  sweet and sour meatballs             0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [148]:
idDate = recipes[['id','submitted']]
idRating = reviews[['recipe_id','rating']]
idDateRating = idRating.merge(idDate, left_on='recipe_id', right_on='id', how='left') # 
meanYears = idDateRating.groupby(idDateRating.submitted.dt.year)['rating'].mean()

print("Год в котором добавленные рецепты имеют наименьший средний рейтинг:")
meanYears[meanYears == meanYears.min()].index[0]

Год в котором добавленные рецепты имеют наименьший средний рейтинг:

2017

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [149]:
recipes.sort_values('name_word_count', ascending=False).to_csv('Tasks_3.csv', sep=',', index=False)
recipes.sort_values('name_word_count', ascending=False)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
5734,Chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13
...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389,1
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124,1
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78,1
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92,1
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [150]:
with pd.ExcelWriter("Tasks_5.xlsx") as writer:
  DataFrame1.to_excel(writer, sheet_name="Рецепты с оценками", index = False)
  DataFrame2.to_excel(writer, sheet_name="Количество отзывов по рецептам", index = False)